[package]
name = "ferrum-optim"
description = "Optimizers for FERRUM deep learning framework"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
rust-version.workspace = true

[dependencies]
ferrum-core.workspace = true
